</section> <!-- closing id=content -->
<br />
<footer>
<ul>
<li><a title="About, Help, Contact" href="/post/site-info">info</a></li> 
<li><a title="Recently Updated Articles" href="/changes">changes</a></li> 
<li><a title="Show Tags" href="/tags">tags</a></li> 
</ul>

<p>
&copy; 2014 <a href="{{default_values.home_url}}"><strong>{{default_values.site_name}}</strong></a> 
</p>

<p>
{{default_values.datetime}}
</p>

</footer>
</body>
</html>
