{{> header}}
<p>
<strong>No-password-login.</strong>
</p>
<p>
<form action="{{home_url}}/newloginlink" method="post">
<p>
<label for="username">Username:</label> <br />
<input type="text" id="username" name="username" maxlength="30"/>
</p>
<p>
<label for="email"> E-mail:</label> <br />
<input type="text" id="email" name="email" maxlength="50"/>
</p>
<p>
<label for="blank"> </label>
<input class="submitbutton" id="submit" type="submit" value="Mail me login link" />
</p>
</form>
</p>
{{> footer}}

